.header{
  display: inline-block;
  width: 100%
}

.footer{
  text-align: right;
  font-weight: bold;
  margin-left: -65px;
}

.hlineHeader{
  margin-top: 5px;
  height: 2px;
  background-color: green;
  margin-left: -65px;
  margin-right: -65px;
}

.Logo {
    padding: 5px;
    padding-right: 10px;
    width: 100%;
    max-width: 150px;
    display: block;
    box-sizing: border-box;
    
  }

  h3 {
    font-size: 30px;
    color: green;
    text-align: start;

  }
  
  
  h4 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: green;
  }
  
  h5 {
    font-size: 22px;
    background-color: #929292;
    color: white;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin-top: 0;
    margin-left: -60px;
    margin-right: -60px;
    padding: 2px 65px;
  }

  h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: green;
    margin-top: 6px;
    margin-bottom: 0;
  }

  .greenBox {
    padding: 0px 12px;
    border: 3px solid green;
    background-color: rgba(191,224,209,255);
    border-radius: 5px;
    width: 1000px;
    text-align: justify;
  }

  .resTable{
    margin-top: 6px;
    width: 100%;
  }
  .resTable td{
    padding: 3px 5px;
  }

  .img_center {
    text-align: center;
  }

  .figure_bsp {
    max-height: 400px;
  }

  figcaptionPre {
    font-weight: bold;
  }

  .funkTableHead{
    border-top: 2px solid black;
    padding-top: 5px;
    
  }

  .funkTableHline{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid gray;
    
  }
  .funkTableRow{
    padding-top: 5px;
    
  }
  
  .col1 {
    color: rgb(161, 161, 161);
    font-weight: bold;
    width: 20%;
    float:left;
  }

  .col2 {
    width: 40%;
    float:left;
  }

  .col3 {
    width: 40%;
    float:left;
  }

  .cbIMG{
    width: 20px;
    height: 17px;
    display:inline-block;
    vertical-align: middle;
  }

  .cb1{
    border: 3px solid rgb(4,180,219);
    background-color: rgb(4,180,219);
    border-radius: 6px;
    width: 11px;
    height: 11px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .cb2{
    border: 3px solid rgb(4,180,219);  
    background-color: rgb(255, 135, 22);
    border-radius: 6px;
    width: 11px;
    height: 11px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .cb3{
    border: 3px solid rgb(4,180,219);
    background-color: rgb(255, 251, 0);
    border-radius: 6px;
    width: 11px;
    height: 11px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .cb4{
    border: 3px solid rgb(4,180,219);
    background-color: rgb(0, 173, 0);
    border-radius: 6px;
    width: 11px;
    height: 11px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .cbDescr{
    border: 2px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 5px;
    margin-top: 4px;
  }
  
  .AnwC1H {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: green;
    font-weight: bold; 
  }

  .AnwC2H {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: green;
    font-weight: bold;
  }

  .AnwC3H {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: green;
    font-weight: bold;
  }

  .AnwC1 {
    width: 25%;
    float:left;
  }

  .AnwC2 {
    width: 25%;
    float:left;
  }

  .AnwC3 {
    width: 20%;
    float:left;
  }

  .AnwC4 {
    width: 30%;
    float:left;
  }


  .cbCenter{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
  }

  .boldGray {
    color: rgb(161, 161, 161);
    font-weight: bold;
  }

  .PlanC1H {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold; 
  }

  .PlanC2H {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  .headerBlack {
    font-size: 18px;
    font-weight: bold;
  }