

.start{
    display: flex;
    background-color: rgb(153, 153, 153);
    background-image: url(chuttersnap-oqJxJ4TYoQg-unsplash.jpg);  /*https://www.usnews.com/news/cities/articles/2018-12-12/a-vertical-forest-is-proposed-in-toronto-canada */
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
    padding-left:  1em;
    padding-right: 1em;

    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  margin-top: -1vh;
  background-color: rgb(4,180,219);
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: fixed;
}

.navBarColor0{
  display: block;
  color: white;
  width: 25px;
}

.navBarColor1{
  display: block;
  color: white;
  background-color: #008243;
  width: 25px;
}

.navBarColor2{
  display: block;
  color: white;
  background-color: #f3b33d;
  width: 25px;
}

.navTab{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navTab:active{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(23, 192, 230);

}

/* Change the link color to #111 (black) on hover */
.navTab:hover {
  background-color: rgb(38, 108, 124);
}

.intro{
    margin-top: 10vh;
    vertical-align: middle;
    text-align: center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: #ffffffce;
    padding: 40px;
    box-sizing: border-box;
    max-width: 55vw;
    font-size: 35px;
}

.Logo {
  padding: 5px;
  padding-right: 10px;
  width: 100%;
  max-width: 200px;
  display: block;
  box-sizing: border-box;
}

.LogoLink {
  background-image: linear-gradient(to right, rgb(106, 228, 255), rgb(4,180,219))
}

.LogoIntro {
    padding: 5px;
    padding-right: 10px;
    width: 40vw;
  }

.intro button{
    border: none;
    background-color: rgb(4,180,219);
    box-shadow: 1px 1px 3px #0003;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    width: 11em;
}

.intro button:hover {
    background-color: rgb(4,180,219);
    color: rgb(255, 254, 254);
    transform: scale(1.05);
    box-shadow: 3px 3px 6px #0003;
  }

  .footer{
    margin-top: auto;
    margin-bottom: 2vh;
    width: 100%;
    background-color: rgb(4,180,219);
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }