.filters {
	width: 25%;
	float: left;
	text-align: left;
	margin-top: 5%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

.results {
	width: 75%;
	float: left;
	text-align: left;
}

figure_bsp {
    display: block;
    flex-flow: column;
    max-width: 600px;
    padding: 5px;
    margin: auto;
}

figcaption {
    font: italic sans-serif;
    padding: 4px;
    text-align: center;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}