
.navBar {
  background-color: rgb(4,180,219);
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: fixed;
}

.navBarColor0{
  display: block;
  color: white;
  width: 25px;
}

.navBarColor1{
  display: block;
  color: white;
  background-color: #f3b33d;
  width: 25px;
}

.navBarColor2{
  display: block;
  color: white;
  background-color: #008243;
  width: 25px;
}

.navTab{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navTab a:active{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(23, 192, 230);

}

/* Change the link color to #111 (black) on hover */
.navTab:hover {
  background-color: rgb(38, 108, 124);
}


.Logo {
  padding: 5px;
  padding-right: 10px;
  width: 100%;
  max-width: 400px;
  display: block;
  box-sizing: border-box;
}



.page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
	flex-wrap: wrap;
  background-color: rgb(214, 214, 214);
  background-image: url(startBackground2.jpg);  /*https://www.usnews.com/news/cities/articles/2018-12-12/a-vertical-forest-is-proposed-in-toronto-canada */
  background-blend-mode: multiply;
  background-size: auto;
  margin: -10px;
  flex-direction: column;
}

.mainContent{
  margin-top: 5vh;
  display: flex;
}

.filters {
  display: flex;
	text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 1% ;
}

.page-container > *:nth-child(1) {
  flex: 1 1 23%
}

.page-container > *:nth-child(2) {
  flex: 1 1 71%
}

.filterField {
  padding: 0 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
  background-color: #ffffffd7;
  /* border: solid black 2px; */
  box-sizing: border-box;
  /* border-radius: 10px; */
  width: 95%;
}

.filterBox {
  padding: 0px 12px;
  border: solid green 3px;
  /* border-radius: 5px; */
  width: 90%;
}

.buttonFilter{
	background-color: rgb(4,180,219);
  font-size: 20px;
  color: #ffffff;
  border-color: #00000000;
  /* border-radius: 5px; */
}

.buttonFilter:hover{
	background-color: rgb(67, 207, 238);
  font-size: 20px;
  color: #ffffff;
  border-color: #00000000;
  /* border-radius: 5px; */
}

.buttonSelect {
	background-color: rgb(4,180,219);
  font-size: 20px;
  color: #ffffff;
  border-color: #00000000;
  /* border-radius: 5px; */
}

.buttonSelect:hover {
	background-color: rgb(67, 207, 238);
  font-size: 20px;
  color: #ffffff;
  border-color: #00000000;
  /* border-radius: 5px; */
}

.resultRef{
  /* background-color: rgb(4,180,219); */
  color: rgb(90, 90, 90);
  padding: 8px;
}

.resultRef:hover{
  /* background-color: rgb(4,180,219); */
  color: rgb(27, 27, 27);
  padding: 8px;
  font-weight: bold;
}

.searchTable, th, td{
  margin-top: 6px;
  /* font-size: 0.9em; */
  border-collapse: collapse;
  text-align: left;
  font-size: 28px;
  width: 60vw;
  padding: 10px;
}

thead.search{
  background-color: rgb(4,180,219);
  color: white;
  font-weight: bold;
  padding: 5px;
}

tr.searchrow{
  border-bottom: solid rgb(4,180,219) 2px;
}


.resultsTable, th, td{
  margin-top: 6px;
  /* font-size: 0.9em; */
  border-collapse: collapse;
  text-align: left;
  font-size: 28px;
  width: 60vw;
}

thead.resultsTableHeader{
  border-bottom: solid black 2px;
  color: green;
  font-weight: bold;
}



/* Style the tab */
.tab {
  padding: 30px 10px;
  overflow: visible;
  position: fixed;
  top: 30px;
  /* border-radius: 6px; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  background-color: rgb(177, 177, 177);
  box-shadow: 1px 1px 3px #0003;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-align: center;
  font-size: 22px;
  /* border-radius: 5px; */
  color: rgb(255, 255, 255);
  margin-right: 20px;
  width: 11em;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(209, 209, 209);
  color: rgb(255, 254, 254);
  transform: scale(1.05);
  box-shadow: 3px 3px 6px #0003;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-image: linear-gradient(to right, rgb(4,180,219) 0%, rgb(4,180,219) 33%,#f3b33d 33%, #f3b33d 66%,  rgb(4,132,68) 66%, rgb(4,132,68) 99% ); */
  background-color: rgb(4,180,219);
  font-weight: bold;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
  text-align: justify;
}

.directSearch{
  flex-basis: 3%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5vh;
}

.resultsTab{
  flex-basis: 97%;
  text-align: center;
}

.resultsMas {
  margin: 2vh;
	text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3ffe5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.results {
  margin: 2vh;
	display: flex;
	text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3ffe5f5;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  font-size: 16px;
}

.comments {
  display: flex;
  flex-direction: row;
}

.commentText{
  width: 80%;
  /* border-radius: 10px; */
  background-color: #ffffff;
  border: solid rgb(128, 128, 128) 1px;
  padding: 2px 8px;
  margin-right: 10px;
}

.timestamp {
  width: 20%;
  text-align:center;
  /* border-radius: 5px; */
  background-color: #cfcfcf;
  height: 20px;
  padding-top: 3px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: green;
  text-align: start;
}



h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: green;
  margin-bottom: 6px;
  margin-top: 40px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #767171;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.bg3{
  content: " ";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

.cbDescr{
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: 4px;
}

.cbSize{
  width: 24px;
  height: 24px;
  display:inline-block;
  vertical-align: middle;
}

.cb0{
  border: solid rgb(195, 195, 195) 3px;
  border-radius: 6px;
  width: 11px;
  height: 11px;
  display:inline-block;
  vertical-align: middle;
}

.cb1{
  border: solid rgb(4,180,219) 3px;
  background-color: rgb(4,180,219);
  border-radius: 6px;
  width: 11px;
  height: 11px;
  display:inline-block;
  vertical-align: middle;
}

.cb2{
  border: solid rgb(4,180,219) 3px;  
  background-color: rgb(255, 135, 22);
  border-radius: 6px;
  width: 11px;
  height: 11px;
  display:inline-block;
  vertical-align: middle;
}

.cb3{
  border: solid rgb(4,180,219) 3px;
  background-color: rgb(255, 251, 0);
  border-radius: 6px;
  width: 11px;
  height: 11px;
  display:inline-block;
  vertical-align: middle;
}

.cb4{
  border: solid rgb(4,180,219) 3px;
  background-color: rgb(0, 173, 0);
  border-radius: 6px;
  width: 11px;
  height: 11px;
  display:inline-block;
  vertical-align: middle;
}

.greenBox {
  padding: 0px 12px;
  border: solid green 3px;
  background-color: #00854949;
  border-radius: 5px;
  width: 1000px;
}


.whiteBox {
  padding: 0px 12px;
  width: 1000px;
}

.filterHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #767171;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.sucheHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: green;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.figure_bsp {
  max-width: 1000px;
  max-height: 800px;
}

figcaptionPre {
  font-weight: bold;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: green;
  margin-top: 6px;
  margin-bottom: 0;
}

.img_center {
  text-align: center;
}

.cbCenter{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
}

.cell-flex{
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  text-align: left;
}


.resTable{
  margin-top: 6px;
  min-width: 1000px;
  font-size: 16px;
  border-collapse: collapse;
}
.resTable td{
  padding: 6px 10px;
  font-size: 16px;

}

tr.hline {
  border-top: 1px solid rgb(161, 161, 161);
}
tr.hlineHead{
  border-top: 2px solid black;
}

td.gray {
  color: rgb(161, 161, 161);
  font-weight: bold;
}
td.grayBorderL {
  color: rgb(161, 161, 161);
  font-weight: bold;
  border-left: 2px solid black;
}
td.BorderL {
  border-left: 2px solid black;
}


.boldGray {
  color: rgb(161, 161, 161);
  font-weight: bold;
}

thead.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: green;
  margin-bottom: 6px;
  font-weight: bold;
  border-bottom: solid 2px black;
}

thead.headerBlack {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
  padding-top: 30px;
  font-weight: bold;
  border-bottom: solid 2px black;
}

a.bold{
  font-weight: bold;
  font-size: 16px;
}

@media print {
  .filters {
    display: none;
  }

  .tab {
    display: none;
    
  }
 
}

.footer{
  /* margin-top: auto;
  width: 100%;
  background-color: rgb(4,180,219);
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif; */


  margin: 2vh;
    width: 100%;
    background-color: rgb(4,180,219);
    color: white;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_content1{
  margin: auto;
  text-align: center;
  vertical-align: middle;
}