.filters {
	width: 25%;
	float: left;
	text-align: left;
	margin-top: 5%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  top: 10px;
  border-radius: 6px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-align: center;
  font-size: 22px;
  border: solid green 3px;
  border-radius: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #00854949;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}


.results {
	width: 75%;
	float: left;
	text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: green;
}

.greenBox {
  padding: 0px 12px;
  border: solid green 3px;
  background-color: #00854949;
  border-radius: 5px;
  width: 1000px;
}

.whiteBox {
  padding: 0px 12px;
  width: 1000px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: green;
  margin-bottom: 6px;
  margin-top: 40px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #767171;
  text-transform: uppercase;
  margin-bottom: 6px;
}

figure_bsp {
    display: block;
    flex-flow: column;
    max-width: 600px;
    padding: 5px;
}

figcaption {
    font-style: italic;
    padding: 4px;
    margin-left: 200px;
}
figcaptionPre {
  font-weight: bold;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: green;
  margin-top: 6px;
  margin-bottom: 0;
}

.img_center {
  display: block;
  margin-left: 200px;
}

.resTable{
  margin-top: 6px;
  min-width: 1000px;
  /* font-size: 0.9em; */
  border-collapse: collapse;
}
.resTable td{
  padding: 6px 10px;

}

tr.hline {
  border-top: 1px solid rgb(161, 161, 161);
}
tr.hlineHead{
  border-top: 2px solid black;
}

td.gray {
  color: rgb(161, 161, 161);
  font-weight: bold;
}
td.grayBorderL {
  color: rgb(161, 161, 161);
  font-weight: bold;
  border-left: 2px solid black;
}
td.BorderL {
  border-left: 2px solid black;
}


.boldGray {
  color: rgb(161, 161, 161);
  font-weight: bold;
}

thead.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: green;
  margin-bottom: 6px;
  font-weight: bold;
  border-bottom: solid 2px black;
}

thead.headerBlack {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
  padding-top: 30px;
  font-weight: bold;
  border-bottom: solid 2px black;
}


