.filters {
	width: 25%;
	float: left;
	text-align: left;
	margin-top: 5%;
}

.results {
	width: 75%;
	float: left;
	text-align: left;
}

figure {
    display: block;
    flex-flow: column;
    max-width: 600px;
    padding: 5px;
    margin: auto;
}

figcaption {
    background-color: #1cbbff;
    color: #fff;
    font: italic sans-serif;
    padding: 3px;
    text-align: center;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

